section{
    margin-top: 150px;
    display: flex;
    max-width: 197px;
    gap: 20px;
}

.asdaa{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.qwq{
    width: 300px;
}

.asdq{
    font-weight: 600;
    font-size: 24px;
}