.ban{
    height: 500px;
    width: 100%;
    border-radius: 15px;
}

.bane{
    margin-top: 20px;
    display: flex;justify-content: center;
}

.qweqe{
    margin-top: 20px;
}

.ter{
    margin-top: 20px;
}