nav{
    display: flex;
    gap: 48px;
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 150px;
}

.ao{
    font-weight: 400;
}